/*底部*/
.main-footer{
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

/*表格展示查询条件  */
#box-filter{
    display: block;
    background: #f7f9fc;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
}
#box-filter .form-group{
    display: table;
    margin: 0;
    padding: 0 8px;
}
#box-filter .form-group .control-label{
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    min-width: 65px;
    text-align: left;
    color: #666;
    vertical-align: middle;
}
#box-filter .form-group.sortlist{
    font-size: 13px;
    padding:6px 8px;
    border-bottom:1px dashed #ccc;
}
#box-filter .form-group .form-control{
    font-size: 13px;
}
#box-filter .form-group.sortlist:last-child{
    border: none;
}
#box-filter .form-group.sortlist .control-label{
    color:#666;
    vertical-align: middle;
}
#box-filter .form-group.sortlist .tj{
    padding-left: 10px;
}
#box-filter .form-group.sortlist .tj a {
    display:inline-block;
    color: #000;
    margin-right: 24px;
    white-space: nowrap;
    line-height:25px;
    position:relative;
    cursor: pointer;
}
#box-filter .form-group.sortlist .tj a:hover,#box-filter .form-group.sortlist .tj a.actived{
    color:#3c8dbc;
    font-weight: 700;
}
#box-filter .form-group.sortlist .tj a.actived div{
    display:block;
}

/*展示列表的table*/
.list{
    min-height: 130px;
}
.list>thead{
    background-color: #F1F4FB;
}
.list>thead>tr>th{
    color: #5b6885;
    font-size: 0.93em;
}
span.opt-gap{
    width: 1px;
    background-color: #d2d9e8;
    margin: 0 3px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}
.modal-body>form input{
    font-size: 13px;
}
.center{
    text-align: center!important;
}
.required-field{
    color: red;
}

/*分页右对齐*/
.pagination-container{

    text-align: center;
    padding-bottom: 1em;
}

/*导航列表栈列*/
.box .nav-stacked > li{
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
}

.nav-stacked > li > a{
    border-top: 0;
    border-left: 3px solid transparent;
    cursor: pointer;
}

.nav-stacked > li.active{
    background-color: #3c8dbc;
}

.nav-stacked > li.active a, .nav-stacked > li.active a:hover{
    border-top: 0;
    border-left-color:#3c8dbc;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

textarea.noresize{
    resize: none;
}

/*input验证效果*/
.invalid-input{
    border: 1px solid #FF0000;
}

.checkbox-nice.checkbox-inline label{
    padding-left: 0;
    padding-right: 20px;
}

.checkbox-nice label {
    padding-top: 2px;
}

.checkbox-nice input[type="checkbox"]:checked + label::before {
    background: #3498db;
}

.checkbox-nice label::before {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;
    background: #ffffff;
    content: "";
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}

.checkbox-nice input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.checkbox-nice label::after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 7px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-t-7 {
    margin-top: 7px;
}

.m-t-10 {
    margin-top: 10px;
}
.m-t-12 {
    margin-top: 12px;
}
.m-t-15 {
    margin-top: 15px;
}

.m-r-5 {
    margin-right: 5px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-r-20 {
    margin-right: 20px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.text-rent{
    color: #01a34e;
}
.text-sell{
    color: #ff6601;
}
.text-rent-bg{
    color: #fff;
    background-color: #01a34e;
}
.text-sell-bg{
    color: #fff;
    background-color: #ff6601;
}
.icon-font{
    border-radius: 6px;
    font-size: 50px;
    line-height: 1;
    font-style: normal;
    margin-right: 3px;
}
.icon-float-left{
    float: left;
    padding: 6px 5px;
}
.badge-rent{
    background-color: #2ECC71;
}
.badge-sell{
    background-color: #FF9933;
}
.img-circle-container-sm{
    display: inline-block;
    height:42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.video-player{
    width: 100%;
    height: 100%;
}
.video-control-bar{
    position: absolute;
    bottom: -13px;
    width: 100%;
    padding: 11px;
    color: #e1e1e2;
    box-sizing: border-box;
    background: url("../../../img/common/video-control-bar-bg.jpg") 100% 100% repeat;
}

