/*底部*/
.main-footer{
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

/*展示列表的table*/
.list{
    min-height: 130px;
}
.list>thead{
    background-color: #F1F4FB;
}
.list>thead>tr>th{
    color: #5b6885;
    font-size: 0.93em;
}
span.opt-gap{
    width: 1px;
    background-color: #d2d9e8;
    margin: 0 6px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}
.modal-body>form input{
    font-size: 13px;
}
.center{
    text-align: center!important;
}
.required-field{
    color: red;
}

/*分页右对齐*/
.pagination-container{

    text-align: center;
    padding-bottom: 1em;
}

/*导航列表栈列*/
.box .nav-stacked > li{
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
}

.nav-stacked > li > a{
    border-top: 0;
    border-left: 3px solid transparent;
    cursor: pointer;
}

.nav-stacked > li.active{
    background-color: #3c8dbc;
}

.nav-stacked > li.active a, .nav-stacked > li.active a:hover{
    border-top: 0;
    border-left-color:#3c8dbc;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

textarea.noresize{
    resize: none;
}

.invalid-input{
    border: 1px solid #FF0000;
}