.user-panel > .image > .user-panelImg {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #d9e9f6;
    text-align: center;
}

.main-header .user-image,.img-circle {
    display: none;
}


