body {
    overflow: hidden;
    background:url("../../../img/identity/login_background.png");
    background-position: center;
}
.login-box-body,.identity-box{
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    border-top: 0;
    color: #666;
}
#activationBox .form-group{
    margin-bottom: 10px;
    border-bottom: 0
}
.identity-box{
    margin-bottom: 10px;
}
.form-group{
    margin: 0;
    border-bottom: 1px solid #eee;
}
.form-group:last-child{
    border-bottom: 0;
}
.login-logo{
    text-indent: 40px;
    font-size: 24px;
    color: #fff;
    background: url('../../../img/common/logo.png') left calc(50% - 124px) center no-repeat;
}
.activation-logo{
    text-indent: 40px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    background: url('../../../img/common/logo.png') left calc(50% - 154px) center no-repeat;
}
.form-control{
    font-size: 18px;
    letter-spacing: .1em;
    border:none;
    margin: 0;
    height: 50px;
}
.captcha-container{
    position: relative;
}
#captcha-image{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 140px;
}
.login-btn{
    margin-top: 20px;
    color: #fff;
    background: #3e7efa;
    border-radius: 4px;
    height: 50px;
}
.bottom-content{
    margin-top: 10px;
}
.to-active{
    float: right;
}
.sms-container{
    position: relative;
}
.get-sms{
    position: absolute;
    right: 10px;
    width: 140px;
    top:8px;
}
.activation-box {
    width: 400px;
    margin: 7% auto;
}
@media (max-width: 768px) {
    .activation-box {
        width: 90%;
        margin-top: 20px;
    }
}